.app-header {
    /*height: 60px;*/
    /*line-height: 5px;*/
    /*border: 30px solid #c61e1e;*/
    /*border-bottom: thin lightgrey solid;*/
    border-radius: 10px;
}

table {
    border-collapse: separate !important;
    border-spacing: 0px 10px !important; /* Horizontal and vertical spacing */
    /*max-width: 150px !important;*/
    table-layout: auto !important;
    text-align: center !important

}
tr {
    /*border-spacing: 10px !important;*/
    /*margin-bottom: 10px !important;*/
    /*border: 10px inherit !important;*/
    /*border-radius: 5px !important;*/

    /*border: 1px solid #000 !important; !* Adjust the border style as needed *!*/
    box-shadow: 0 5px 0 0 #fff; /* Adjust the color to match your table's background */
    background-color: #B8E7BD; /* Adjust the background color as needed */
    border-collapse: separate !important;
    border-radius: 10px !important;
    border: 1px solid black;
}

.cell-table {
  border-collapse: separate !important;
}


td {
    border-collapse: separate !important;
    border: 0px solid !important;
    background-color: #B8E7BD !important;
    margin: 10px inherit !important;
    border: 10px inherit !important;

    border: none !important;
    background-color: transparent !important;
    border-radius: 10px !important;
    border-radius: 0px !important;
}


td:first-child {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

td:nth-child(2) {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

td:last-child {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    padding-right: 15px !important;
}

td.dash-select-cell {
    background: rgb(225, 231, 255) !important;
}

th {
    /*background: #c61e1e !important;*/
    border-radius: 10px !important;
    border: 0px !important;
    background-color: inherit !important;
}


/*cell {*/
/*    !*border: 50px solid #c61e1e;*!*/
/*    padding: 8px;*/
/*}*/

/*.my-custom-table {*/
/*    !*border: 10px solid #c61e1e;*!*/
/*    border-collapse: collapse;*/
/*    width: 100%;*/
/*}*/

.semiauto_context {
    background-color: rgb(184, 231, 189) !important;
    border-radius: 15px !important;
    border: 1px solid black !important;
    padding: 5px !important;
}

/*.semiauto_graph {*/
/*    background-color: rgba(126, 126, 126, 0.51) !important;*/
/*}*/

H2 {
    text-align:center !important;
}

