* {
    --primary-color: #ffab40;
    --primary-color-rgb: 255, 171, 64;
    --secondary-color: #84d5e6;
    --secondary-color-rgb: 132, 213, 230;
    --tertiary-color: #001633;
    --quarniary-color: #ffffff;
}

.app-header {
    /*height: 60px;*/
    /*line-height: 5px;*/
    /*border: 30px solid #c61e1e;*/
    /*border-bottom: thin lightgrey solid;*/
    border-radius: 10px;
}

H2 {
    text-align:center !important;
}

table {
    border-collapse: separate !important;
    border-spacing: 0px 0px !important; /* Horizontal and vertical spacing */
    /*max-width: 150px !important;*/
    table-layout: auto !important;
    text-align: center !important;
    font-family: Calibri;
    border: 3px solid var(--secondary-color);
    color: var(--quarniary-color);
}

tr {
    /*border-spacing: 10px !important;*/
    /*margin-bottom: 10px !important;*/
    /*border: 10px inherit !important;*/
    /*border-radius: 5px !important;*/

    /*border: 1px solid #000 !important; !* Adjust the border style as needed *!*/
    /*background-color: var(--tertiary-color); !* Adjust the background color as needed *!*/
    border-collapse: separate !important;
    border-radius: 10px !important;
    border: 1px solid black;
}

/*.cell-table {*/
/*  border-collapse: separate !important;*/
/*}*/

th {
    /*background: #c61e1e !important;*/
    border: 0px !important;
    background-color: inherit !important;
}

/*.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner input:not([type=radio]):not([type=checkbox]){*/
/*    color: var(--quarniary-color)!important;*/
/*}*/

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner input{
    color: var(--quarniary-color)!important;
}

.data-table-container svg{
    fill: blue;
}

button {
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin: 5px;
    border: none;
    font-weight: 700;
}

td {
    border-collapse: separate !important;
    border: 0px solid !important;
    background-color: #B8E7BD !important;
    border: 10px inherit !important;

    border: none !important;
    background-color: transparent !important;
    border-radius: 10px !important;
    border-radius: 0px !important;
}

html{
    background-color: var(--tertiary-color);
}

td:first-child {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

td:nth-child(2) {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

td:last-child {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    padding-right: 15px !important;
}

td.dash-select-cell {
    background: rgb(225, 231, 255) !important;
}

tr:hover {
    background: rgba(var(--primary-color-rgb), 0.5) !important;
}



.manual_context {
    background-color: rgb(184, 231, 189) !important;
    border-radius: 15px !important;
    border: 1px solid black !important;
    padding: 5px !important;
}

.subcontent {
    padding: 10px !important;
    margin-top: 10px;
    background-color: rgba(var(--secondary-color-rgb), 0.2);
}

.user_manual {
    color: white !important;
    text-align: left !important;
}

.cluster_sequences_graph {
    padding: 15px !important;
    border-radius: 10px !important;
    border: 2px solid black !important;
    margin-top: 1rem !important;
    table-layout: auto !important;
    width: auto;
    padding: 20px 10px;
    background-color: var(--secondary-color);
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    color: var(--tertiary-color);

}

#scatter-plot {
    table-layout: auto !important;
    width: auto !important;
}

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 20%;
    background-color: var(--tertiary-color);
    font-family: Calibri;
    /*box-shadow: 0px 10px 60px 0px #E2ECF9;*/
    border-right: 3px solid var(--secondary-color);
    color: var(--primary-color);
}

.sidebar-button {
    width: 80%;
    height: 50px;
    margin: auto;
    border-radius: 8px;
    background-color: var(--secondary-color);
    margin-bottom: 20px;
    color: var(--tertiary-color);
}

.sidebar-button:active{
    background-color: var(--primary-color);
}

.sidebar-button-text{
    float: left;
    font-size: 18px;
    padding-top: 14px;
}

.sidebar-button-img{
    height: 18px;
    float: left;
    margin-left: 16px;
    margin-right: 20px;
    margin-top: 16px;
    fill: #ff0000;
}

.sidebar-button-arrow{
    float: right;
    height: 18px;
    margin-right: 10px;
    margin-top: 16px;
}

.content {
    margin-left: 20%;
    width: auto;
    padding: 20px 10px;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-family: Calibri;
}

.data_table_style {
  width: auto;
  minWidth: normal;
  maxWidth: normal;
  overflow: hidden;
  textOverflow: ellipsis;
}



/*input:focus {*/
/*    background: rgb(213, 0, 0) !important;*/
/*}*/

/*input:hover  {*/
/*    appearance: auto !important;*/

/*    border-radius: 100% !important;*/
/*    width: 50px !important;*/
/*    height: 50px !important;*/

/*    border: 1px solid #999 !important;*/
/*    transition: 0.2s all linear !important;*/
/*    margin-right: 5px !important;*/

/*    position: relative !important;*/
/*    top: 4px !important;*/
/*    background-color: darkred !important;*/
/*    background: mediumvioletred !important;*/
/*}*/

/*input:active {*/
/*    appearance: auto !important;*/

/*    border-radius: 100% !important;*/
/*    width: 50px !important;*/
/*    height: 50px !important;*/

/*    border: 1px solid #999 !important;*/
/*    transition: 0.2s all linear !important;*/
/*    margin-right: 5px !important;*/

/*    position: relative !important;*/
/*    top: 4px !important;*/

/*    background-color: darkred !important;*/
/*    background: mediumvioletred !important;*/

/*}*/

/*input:focus {*/
/*    appearance: auto !important;*/

/*    border-radius: 100% !important;*/
/*    width: 50px !important;*/
/*    height: 50px !important;*/

/*    border: 1px solid #999 !important;*/
/*    transition: 0.2s all linear !important;*/
/*    margin-right: 5px !important;*/

/*    position: relative !important;*/
/*    top: 4px !important;*/

/*    background-color: darkred !important;*/
/*    background: mediumvioletred !important;*/
/*}*/


/*.previous-next-container{*/
/*    display: inline-block !important;*/
/*}*/

.sidebar-button-img {
    filter: brightness(0%);
}